*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display:flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 10vh;
    text-align: center;

}
.navbar-content{
    font-style: none;
    padding: 5px;
}
li{
    display: inline;
    margin: 20px;
    
}
.content{
    display: flex;
    width:100%;
   
    justify-content: center;
    align-items: center;

}

.div1{
    
    background-color: red;
    height: 90vh;
    
}
.div2{
    
    background-color: green;
    height: 90vh;
    
    
}
.div3{
    height: 90vh;
    
    background-color: blue;
    
    
}
.div1,.div2,.div3{
    width:25%;
}