/* Navbar section  */
#navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar ul li {
    padding-bottom: 8px;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 11px;
}

/* Home Section */
#home {
    height: 312px;
    padding: 3px 28px;
}

#home::before {
    height: 421px;
}

#home p {
    font-size: 1rem;
}

/* Service Section */
#services {
    flex-direction: column;

}

#services img {
    transform: scale(0.6);
}

#services .box {
    margin-bottom: 3px 0px;
    padding: 15px;

}

/* Client Scetion */
#clients {
    flex-wrap: wrap;
}

#clients img {
    height: 67px;
    padding: 6px 12px;
}

/* Contact Us Section */
#contact-box form {
    width: 80%;
}

/* utility section */
.h-primary {
    font-size: 1.6rem;
}

.btn {
    padding: 3px 10px;
    font-size: 1rem;
}