* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background-image: url("/FirstYoutubeProject/images/6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.navbar {
    width: 100%;
    height: 10vh;
    font-size: 20px;
    /* background-color: coral; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    /* position:fixed; */

}

.left {
    display: flex;
    border: 0;
    outline: none;
    align-items: center;

}

.left img {
    width: 60px;
    height: 50px;
    margin-right: 10px;

}

.navbar-content {
    display: flex;
    list-style: none;

}

.navbar-content li {
    padding: 2px 30px;
}

.navbar-content li:hover {
    background-color: rgb(117, 149, 149);
    border-radius: 5px;
    height: 25px;
    transition: .4s;
}

.navbar-content li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.search-bar {
    display: flex;
    height: 35px;
    border: 0;
    border-radius: 10px;
    backdrop-filter: blur(5px) saturate(150%);


}

.search-bar input {
    border: 0;
    outline: none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    color: white;

}

::placeholder {
    color: white;
}

.search-bar button {
    width: 60px;
    border: 0;
    outline: none;
    border-radius: 20px;
    cursor: pointer;

}

.search-bar button:hover {
    background-color: rgb(150, 189, 176);
    transition: 0.4s;
}

.main {
    width: 100%;
    height: 60vh;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-content {
    /* border: 1px solid red; */
    width: 25%;
    height: 250px;
    margin: 10px;
    padding: 15px;
    /* padding: 10px 20px; */
    /* margin: 10px 40px; */
    background: rgb(221, 233, 235);
    color: black;
    border-radius: 5px;
}

.main-element,
.name {
    margin: 5px;
}

.name {
    font-weight: bold;
}

.btn {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    width: 12rem;
    height: 3rem;
    background-color: rgba(49, 49, 255, 0.6);
    border: 0;
    outline: none;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;

}

.btn button:hover {
    background-color: rgba(9, 9, 170, 0.6);
    transition: 0.4s;
}
@media only screen and (max-width:580px){
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }.navbar{
        display: flex;
        flex-direction:column;
    }
    .body-content,.main{
        display: flex;
        justify-content: center;
    }
    .body-content{
        height: 80vh;
        flex-direction: column;
    }
    
    .main-content{
        flex-wrap: wrap;
        overflow: hidden;
    }
}