*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.header{
    background-image: url("images/26.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    font-weight: 400;
    color: white;
    width: 100%;
    height: 100vh;
    padding-top: 40px ;
}

.black_box{
    background-color: #000;
    color: white;
    text-align: center;
    font-size: 80px;
    font-weight: 400;

}
.black_box span{
    font-size: 96px;

}
.card-items {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
.card {
    max-width: 340px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.card-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 20px;
    margin-top: 15px;
  }
  img{
    max-width: 300px;
    height: 30vh;
  }
.bottom{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.contect{
    background-color: aqua;
    padding: 20px;
}
.about{
    background-color: goldenrod;
    padding: 20px;
}
@media only screen and (max-width:786px) {
    .header{
        height: 50vh;
    }
    .black_box{
        font-size: 24px;
    }
    .card-items, .bottom{
        flex-direction: column;
    }
}