body{
    padding: 0;
    margin: 0;
    background:white  ;
}.main{
    width: 100%;
    height: 800px;
    border: 2px solid red;
}
.main-content{
    width: 80%;
    height: 600px;
    border: 2px solid green;
    margin: 20px;
    padding: 10px;
    display: flex;
}
.main-element{
    background-color: aqua;
    margin:10px;
    width:30%
}
li h2{
    text-shadow: 2px 2px 20px red;
}
li>h2{
    color: brown;
}
li h2+p{
    color:crimson;
}
/* ul :nth-child(4){
    background-color: blueviolet;
} */
/* ul :nth-last-child(2){
    background-color: cadetblue;
} */
ul :nth-child(2n+1){
    background-color: deeppink;
}
li::after{
    content: " this is my word";
    color: green;
}