* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("/FitnessWeb/images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(61, 25, 25);
    padding: 15px;
}

.logo {
    color: white;
    font-size: 35px;
    font-weight: 700;
    margin-left: 20px;
}

span {
    color: red;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: blue;
    transition: .3s;
}

nav ul li:hover {
    background-color: rgb(63, 105, 105);
    transition: .3s;
    border-radius: 10px;
}

.search-bar {
    display: flex;
    height: 35px;
    border: none;
    border-radius: 15px;
    color: blue;

    backdrop-filter: blur(4px) saturate(180%);

}

.search-bar input {
    background: transparent;
    border: 0;
    outline: none;
    font-size: 25px;
    color: blue;
    padding: 10px 20px;
}

::placeholder {
    color: chartreuse;
}

.search-bar button {
    color: bisque;
    background-color: rgb(33, 193, 140);
    cursor: pointer;
    width: 80px;
    height: 35px;
    border: 0;
    outline: none;
    border-radius: 15px;
    padding-right: 0px;
    font-weight: bold;

}